
  .input-icons i {
    position: absolute;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    padding: 5px;
    min-width: 40px;
}

  
.input-field {
    padding-left: 35px;
    color: #ffff;
    background-color: #387a9d17;
}

.button-login{
    width: 7rem;
    color: #ffff;
}
.fb-bg{
    background-color: #1877f2;

}
.google-bg{
    background-color: #4285f4;
}
.git-bg{
    background-color: #24292f;
}
.lin-bg{
    background-color: #0077b5;
}